@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
  /* BORDER: 1px solid red; para ver cajas*/
}

header {
  background-color: #f0ead2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px 15px 15px;
}

.navbarlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 14px;
}

.navbarlist a {
  color: #415b76;
}
